@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input:focus {
    outline: none;
  }
}

@layer components {
  .heading {
    @apply text-kt-yellow;
  }

  .big {
    @apply text-3xl sm:text-4xl lg:text-5xl font-semibold;
  }
  .calculatorInput {
    @apply rounded p-2 ring-1 ring-kt-yellow/25 bg-gradient-to-tr from-gray-800 to-gray-900 text-gray-400 cursor-text hover:ring-kt-yellow/75;
  }
  .calculatorLabel {
    @apply text-kt-yellow font-semibold;
  }
}
