@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input:focus {
    outline: none;
  }
}

@layer components {
  .heading {
    @apply text-kt-yellow;
  }
  .headingDark {
    @apply text-kt-black;
  }
  .big {
    @apply text-3xl sm:text-4xl lg:text-5xl font-semibold;
  }
  .calculatorInput {
    @apply rounded p-2 ring-1 ring-kt-yellow/25 bg-gradient-to-tr from-kt-black to-black text-gray-400 cursor-text hover:ring-kt-yellow/75;
  }
  .calculatorPosition {
    @apply rounded p-2 pl-3 ring-1 ring-kt-yellow/25 bg-gradient-to-tr from-kt-black to-black text-gray-400;
  }
  .calculatorLabel {
    @apply text-kt-yellow font-semibold;
  }
  .articleHeadingCircle {
    @apply bg-kt-yellow font-black text-xl sm:text-2xl lg:text-3xl text-white flex justify-center items-center rounded-full h-8 w-8 sm:h-9 sm:w-9 lg:h-10 lg:w-10;
  }
  .articleHeadingH2 {
    @apply uppercase font-semibold text-xl lg:text-2xl;
  }
  .creatorLinks {
    @apply flex justify-center rounded-lg py-2 px-10 bg-kt-yellow hover:bg-kt-black;
  }
}
